        <div class="card mb-5 mx-5 my-5" style="width: 600px;">
            <img src="{{product.image}}" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">{{product.title}}</h5><hr>
            <h6>Description: </h6>
            <p class="card-text">{{product.description}}</p><hr>
            <p class="card-text">Soni: {{product.mount}} ta</p>
            <p class="card-text">Narxi: {{product.price}} so'm</p>
            <p class="card-text"><small class="text-muted">{{product.createdAt}}</small></p>
        </div>
{{#if data}}
   {{#each data}}
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
            <img src="https://img.freepik.com/premium-vector/bearded-man-avatar-man-vector-portrait_9385-36.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{email}}</h5>
                <p class="card-text">{{comment}}</p>
                <p class="card-text"><small class="text-muted">{{createdAt}}</small></p>
            <div class="card-footer">
                <a href="/admin/commentDelete/{{id}}" type="button" class="btn btn-danger">Delete</a>
            </div>
            </div>
            </div>
        </div>
    </div>
   {{/each}}
   {{else}}
    <h1 style="text-align: center;">Comentary topilmadi</h1>
{{/if}}
